<%= div_for(link) do %>
  <h4>
    <%= link_to link.title, link %><br>
    <small>
      <a href="<%= link.url %>" class="text-success">
        <%= link.url %>
        <span class="glyphicon glyphicon-link"></span>
      </a>
    </small><br>
    <small class="author">Submitted by <%= link_to link.user.name, link.user %> <%= time_ago_in_words(link.created_at) %> ago</small>
  </h4>
  <div class="btn-group">
    <%= link_to upvote_link_path(link), remote: true, method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-thumbs-up" id="thums_up_<%= link.id %>"></span>
      <span id="upvote_<%= link.id %>"><%= link.get_upvotes.size %></span>
    <% end %>
    <%= link_to downvote_link_path(link), remote: true, method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-thumbs-down" id="thums_down_<%= link.id %>"></span>
      <span id="downvote_<%= link.id %>"><%= link.get_downvotes.size %></span>
    <% end %>
    <%= link_to link_path(link), class: "btn btn-default btn-sm" do %>
      <%= pluralize link.comments.count, "comment" %>
    <% end %>
  </div>
<% end %>
